# Ignore Sublime Text workspace file
*.sublime-workspace

# Ignore Lua files (compiled by MoonScript)
*.lua
# But allow the lint config
!/lint_config.lua

# Ignore build directories
/build
/lua
/misc
